@page "/tasks"

@inherits AcsPageBase

@using GPNA.AlarmControlSystem.Pages.Tasks.Components
@using GPNA.AlarmControlSystem.Pages.Monitoring.Components
@using GPNA.AlarmControlSystem.Shared.Pagination
@using GPNA.AlarmControlSystem.Models.Enums
@inject IJSRuntime JS


<div class="page-main">
    <div class="page-header">
        <InputSearch
            OnChange="Search"
            Placeholder="Поиск по Tag"/>

        <div class="d-flex">
            <p>ЗАДАЧИ <b>@FieldName М/Р</b></p>
            <SelectObject Object="dto" LinksDictionary="FieldLinksDictionary"/>
            <p style="margin-left:15px;">
                <b>@WorkstationName</b>
            </p>
            <SelectObject LinksDictionary="WorkstationLinksDictionary"/>
        </div>
        <div class="d-flex gap-2">
            @if (false)
            {
                <TitleBarButton Title="Фильтрация" FunctionButton="filtration" Action="DropFilters"/>
            }
            @if (_tasks != null && _tasks.Items.Any())
            {
                <TitleBarButton Title="Экспорт" FunctionButton="export" Action="DownloadFileFromStream"/>
            }
        </div>

    </div>
    <div class="d-flex justify-content-between overflow-auto">
        <div class="priority-alarm-container">
            <PriorityAlarm Title="Всего" Value="_tasks?.TotalCount" Priority="total"/>
            <PriorityAlarm Title="Критичный" Value="_tasks?.CountByPriority?[PriorityType.Urgent]"
                           OnClick="@(() => TogglePriorityFilter(PriorityType.Urgent))"
                           IsActive="@(_priorityFilter?[PriorityType.Urgent] ?? false)"
                           Priority="critical"/>
            <PriorityAlarm Title="Высокий" Value="_tasks?.CountByPriority?[PriorityType.High]"
                           OnClick="@(() => TogglePriorityFilter(PriorityType.High))"
                           IsActive="@(_priorityFilter?[PriorityType.High] ?? false)"
                           Priority="high"/>
            <PriorityAlarm Title="Низкий" Value="_tasks?.CountByPriority?[PriorityType.Low]"
                           OnClick="@(() => TogglePriorityFilter(PriorityType.Low))"
                           IsActive="@(_priorityFilter?[PriorityType.Low] ?? false)"
                           Priority="low"/>
            <PriorityAlarm Title="Инфо" Value="_tasks?.CountByPriority?[PriorityType.Information]"
                           OnClick="@(() => TogglePriorityFilter(PriorityType.Information))"
                           IsActive="@(_priorityFilter?[PriorityType.Information] ?? false)"
                           Priority="info"/>
            <PriorityAlarm Title="Без приоритета" Value="_tasks?.CountByPriority?[PriorityType.None]"
                           OnClick="@(() => TogglePriorityFilter(PriorityType.None))"
                           IsActive="@(_priorityFilter?[PriorityType.None] ?? false)"
                           Priority="none-priority"/>
        </div>
        <div class="priority-alarm-container">
            <PriorityAlarm Title="HH" Value="_tasks?.CountByState?[StateType.HH]"
                           OnClick="@(() => ToggleStateFilter(StateType.HH))"
                           IsActive="@(_stateFilter?[StateType.HH] ?? false)"
                           Status="hh"/>
            <PriorityAlarm Title="H" Value="_tasks?.CountByState?[StateType.H]"
                           OnClick="@(() => ToggleStateFilter(StateType.H))"
                           IsActive="@(_stateFilter?[StateType.H] ?? false)"
                           Status="h"/>
            <PriorityAlarm Title="LL" Value="_tasks?.CountByState?[StateType.LL]"
                           OnClick="@(() => ToggleStateFilter(StateType.LL))"
                           IsActive="@(_stateFilter?[StateType.LL] ?? false)"
                           Status="ll"/>
            <PriorityAlarm Title="L" Value="_tasks?.CountByState?[StateType.L]"
                           OnClick="@(() => ToggleStateFilter(StateType.L))"
                           IsActive="@(_stateFilter?[StateType.L] ?? false)"
                           Status="l"/>
            <PriorityAlarm Title="DISCR" Value="_tasks?.CountByState?[StateType.Discr]"
                           OnClick="@(() => ToggleStateFilter(StateType.Discr))"
                           IsActive="@(_stateFilter?[StateType.Discr] ?? false)"
                           Status="discr"/>
            <PriorityAlarm Title="RSHI" Value="_tasks?.CountByState?[StateType.RSHI]"
                           OnClick="@(() => ToggleStateFilter(StateType.RSHI))"
                           IsActive="@(_stateFilter?[StateType.RSHI] ?? false)"
                           Status="rshi"/>
            <PriorityAlarm Title="RSLO" Value="_tasks?.CountByState?[StateType.RSLO]"
                           OnClick="@(() => ToggleStateFilter(StateType.RSLO))"
                           IsActive="@(_stateFilter?[StateType.RSLO] ?? false)"
                           Status="rslo"/>
            <PriorityAlarm Title="NoneState" Value="_tasks?.CountByState?[StateType.none]"
                           OnClick="@(() => ToggleStateFilter(StateType.none))"
                           IsActive="@(_stateFilter?[StateType.none] ?? false)"
                           Status="none-state"/>
            <PriorityAlarm Title="Пожар" StatusActive="@(_tasks?.Fire ?? false ? "active" : "")" Status="fire"/>
            <PriorityAlarm Title="Загазованность" StatusActive="@(_tasks?.Gas ?? false ? "active" : "")" Status="gas"/>
        </div>
    </div>
    <div style="border-radius: 6px;">
        <div class="d-flex">
            <ItemTabs Title="Задачи"
                      IsActive="@(CurrentTab == 0)"
                      Href="@($"/tasks/?currentTab=0&fieldId={FieldId}&workstationId={WorkstationId}")"/>
            <ItemTabs Title="Архив"
                      IsActive="@(CurrentTab == 1)"
                      Href="@($"/tasks/?currentTab=1&fieldId={FieldId}&workstationId={WorkstationId}")"/>
        </div>
        
        <TasksTable Tasks="_tasks"
                    OnStateFilterChanged="SetStateFilter"
                    OnPriorityFilterChanged="SetPriorityFilter"
                    OnOrderingChanged="OnOrderingChanged"/>

        <Pagination CurrentPage="_currentPage" PagesCount="_pagesCount" OnPageClick="OnPageChanged"/>
    </div>
</div>