@page "/tasks"

@using GPNA.AlarmControlSystem.Pages.Tasks.Components
@using GPNA.AlarmControlSystem.Pages.Monitoring.Components
@using GPNA.AlarmControlSystem.Shared.Pagination
@using GPNA.AlarmControlSystem.Models.Enums
@inject IJSRuntime JS


<div class="page-main">
    <div class="page-header">
        <InputSearch 
            OnChange="Search"
            Placeholder="Поиск по Tag"/>
        
        <div class="d-flex">
            <p>ЗАДАЧИ <b>@_fieldName М/Р</b></p>
            <SelectObject Object="dto" LinksDictionary="_fieldLinksDictionary"/>
            <p style="margin-left:15px;">
                <b>@_workstationName</b>
            </p>
            <SelectObject LinksDictionary="_workstationLinksDictionary"/>
        </div>
        <div class="d-flex gap-2">
            @if (false)
            {
                <TitleBarButton Title="Фильтрация" FunctionButton="filtration" Action="DropFilters"/>
            }
            <TitleBarButton Title="Экспорт" FunctionButton="export" Action="DownloadFileFromStream"/>
        </div>

    </div>
    <div class="d-flex justify-content-between overflow-auto">
        <div class="priority-alarm-container">
            <PriorityAlarm Title="Всего" Value="_tasks?.TotalCount" Priority="total" />
            <PriorityAlarm Title="Критичный" Value="_tasks?.CountByPriority?[PriorityType.Urgent]" Priority="critical" />
            <PriorityAlarm Title="Высокий" Value="_tasks?.CountByPriority?[PriorityType.High]" Priority="high" />
            <PriorityAlarm Title="Низкий" Value="_tasks?.CountByPriority?[PriorityType.Low]" Priority="low" />
            <PriorityAlarm Title="Инфо" Value="_tasks?.CountByPriority?[PriorityType.Information]" Priority="info" />
            <PriorityAlarm Title="Без приоритета" Value="_tasks?.CountByPriority?[PriorityType.None]" Priority="none-priority" />
        </div>
        <div class="priority-alarm-container">
            <PriorityAlarm Title="HH" Value="_tasks?.CountByState?[StateType.HH]" Status="hh" />
            <PriorityAlarm Title="H" Value="_tasks?.CountByState?[StateType.H]" Status="h" />
            <PriorityAlarm Title="LL" Value="_tasks?.CountByState?[StateType.LL]" Status="ll" />
            <PriorityAlarm Title="L" Value="_tasks?.CountByState?[StateType.L]" Status="l" />
            <PriorityAlarm Title="DISCR" Value="_tasks?.CountByState?[StateType.Discr]" Status="discr" />
            <PriorityAlarm Title="RSHI" Value="_tasks?.CountByState?[StateType.RSHI]" Status="rshi" />
            <PriorityAlarm Title="RSLO" Value="_tasks?.CountByState?[StateType.RSLO]" Status="rslo" />
            <PriorityAlarm Title="NoneState" Value="_tasks?.CountByState?[StateType.none]" Status="none-state" />
            <PriorityAlarm Title="Пожар" StatusActive="@(_tasks?.Fire ?? false ? "active" : "")" Status="fire" />
            <PriorityAlarm Title="Загазованность" StatusActive="@(_tasks?.Gas ?? false ? "active" : "")" Status="gas" />
        </div>
    </div>
    <div style="border-radius: 6px;">
        <div class="d-flex">
                      @* Count="@(_tasks?.TotalCount ?? 0)" *@
                      @* Count="@(_archive?.TotalCount ?? 0)" *@
            <ItemTabs Title="Задачи"
                      IsActive="@(CurrentTab == 0)"
                      Href="@($"/tasks/?currentTab=0&fieldId={FieldId}&workstationId={WorkstationId}")" />
            <ItemTabs Title="Архив"
                      IsActive="@(CurrentTab == 1)"
                      Href="@($"/tasks/?currentTab=1&fieldId={FieldId}&workstationId={WorkstationId}")"/>
        </div>
        @switch (CurrentTab)
        {
            case 0:
            {
                <TasksTable Tasks="_tasks"
                                    OnStateFilterChanged="SetStateFilter"
                                    OnPriorityFilterChanged="SetPriorityFilter"/>
                break;
            }
            case 1:
            {
                <TasksTable Tasks="_archive"
                            OnStateFilterChanged="SetStateFilter"
                            OnPriorityFilterChanged="SetPriorityFilter"/>
                break;
            }
        }
        
        <Pagination CurrentPage="_currentPage" PagesCount="_pagesCount" OnPageClick="OnPageChanged"/>
    </div>
</div>