@using GPNA.AlarmControlSystem.Pages.Monitoring.Components
@using GPNA.AlarmControlSystem.Models.Dto.Tag
@using GPNA.AlarmControlSystem.Extensions
@using GPNA.AlarmControlSystem.Interfaces
@using GPNA.AlarmControlSystem.Pages.TagTable.Components
@using GPNA.AlarmControlSystem.Services
@using GPNA.AlarmControlSystem.Application.Dto.TagChange

<tr class="tag-table-line">
           
    <td @onclick="ShowMoreAttributes">
		<p>@TagChange.Tag?.TagName</p>
    </td>           
    <td @onclick="ShowMoreAttributes"> 
        <MonitoringTableStatus Title="@TagChange.Tag?.State.GetDescription()" Status="@TagChange.Tag?.State" />
    </td>
    <td @onclick="ShowMoreAttributes" colspan="3"> 
        <p class="tag-table-description-title">@TagChange.Description</p>
    </td>
    <td @onclick="ShowMoreAttributes"> 
        <MonitoringTableStatus Title="@TagChange.Tag?.Priority.GetDescription()" Priority="@TagChange.Tag?.Priority" />
    </td>
    <td @onclick="ShowMoreAttributes">
        <p>@(TagChange.AlarmLimit ?? "N/A")</p>
    </td>
    <td @onclick="ShowMoreAttributes">
        <svg class="tag-table-icon-reglament @(_attentionReglament ? "red" : "")">
            <use href="/img/icons/icons.svg#tag-table-reglament"></use>
        </svg>
    </td>    
</tr>
@if (_displayArchive)
{
    <tr class="tag-table-archive-line">
        <td class="tag-table-archive-title" colspan="8"><p>АРХИВ ИЗМЕНЕНИЙ АСУ ТП</p></td>
    </tr>
    <tr class="tag-table-archive-line head">
        <td colspan="2">
            <p>Дата</p>
        </td>
        <td>
            <p>Инициатор (Технолог)</p>
        </td>
        <td>
            <p>Исполнитель (Инженер АСУ ТП)</p>
        </td>
        <td colspan="3"></td>
    </tr>
    
    <TagTableLineInfoArchive/>
    <TagTableLineInfoArchive/>
}

@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;

    [Inject] protected ISpinnerService SpinnerService { get; set; } = default!;
    [Inject] protected ITagChangesService TagChangesService { get; set; } = default!;

    [Parameter] public TagChangeDto TagChange { get; set; } = new ();

    private bool _attentionReglament = false;

    bool _displayArchive = false;    

    void ShowMoreAttributes()
    {
        _displayArchive = !_displayArchive;
    }

    protected override void OnParametersSet()
    {
    }
}
