@using Microsoft.AspNetCore.Components
@using GPNA.AlarmControlSystem.Models.Enums
@using GPNA.AlarmControlSystem.Interfaces
@using GPNA.AlarmControlSystem.Models.Dto.BufferAlarms
@using GPNA.AlarmControlSystem.Models.Dto.IncomingAlarm
@using GPNA.AlarmControlSystem.Pages.Monitoring.Components
@using GPNA.AlarmControlSystem.Extensions
@using GPNA.AlarmControlSystem.Models.Dto.TagTask
@inject IJSRuntime JSRuntime

@if (Task != null)
{
    <tr onclick="@(() => NavigationManager?.NavigateTo($"/tasks/task-number?taskNumber={Task.Number}"))">
        <td>
            <div class="d-flex gap-2 align-items-center">
                <svg class="task-table-status-icon">
                    <use href="/img/icons/icons.svg#task-@_taskStatus"></use>
                </svg>
                <p class="task-table-status-comment">N/A</p>
            </div>
        </td>
        <td>@Task.Number</td>
        <td>@Task.CreatedAt.Date</td>
        <td>@Task.CreatedAt.LocalDateTime</td>
        <td>@Task?.Tag?.TagName</td>
        <td>
            <MonitoringTableStatus
                Title="@Task?.Tag?.State.GetDescription()"
                Status="@Task?.Tag?.State"/>
        </td>
        <td>@Task?.Tag?.Description</td>
        <td>
            <MonitoringTableStatus
                Title="@Task?.Tag?.Priority.GetDescription()"
                Priority="@Task?.Tag?.Priority"/>
        </td>
        <td>@Task?.Tag?.AlarmLimit</td>
    </tr>
    @* <tr class="task-table-comment"> *@
    @*     <td colspan="10"> *@
    @*         $1$ <input type="text" placeholder="Текст комментария" /> #1# *@
    @*         <div> *@
    @*             $1$ <p>@_taskLast.Comment</p> #1# *@
    @*         </div> *@
    @*     </td> *@
    @* </tr> *@
}


@code
{
    [Inject] ITagTaskService AlarmService { get; set; } = null!;
    [Inject] NavigationManager? NavigationManager { get; set; }

    [Parameter]
    public TagTaskDto? Task { get; set; }
    private string? _taskStatus = "new";

    protected override void OnInitialized()
    {
       
    }
}