@using Microsoft.AspNetCore.Components
@using GPNA.AlarmControlSystem.Models.Enums
@using GPNA.AlarmControlSystem.Interfaces
@using GPNA.AlarmControlSystem.Models.Dto.BufferAlarms
@using GPNA.AlarmControlSystem.Models.Dto.IncomingAlarm
@using GPNA.AlarmControlSystem.Pages.Monitoring.Components
@using GPNA.AlarmControlSystem.Extensions
@using GPNA.AlarmControlSystem.Models.Dto.TagTask
@using GPNA.AlarmControlSystem.Pages.Tasks.Modals
@inject IJSRuntime JSRuntime

@if (Task != null)
{
    <tr>
        <td @onclick="GoToDetails">
            <div class="d-flex gap-2 align-items-center">
                <svg class="task-table-status-icon">
                    <use href="/img/icons/icons.svg#task-@_taskStatus"></use>
                </svg>
                <p class="task-table-status-comment">N/A</p>
            </div>
        </td>
        <td @onclick="GoToDetails">@Task.Number</td>
        <td @onclick="GoToDetails">@Task.CreatedAt.Date</td>
        <td @onclick="GoToDetails">@Task.CreatedAt.LocalDateTime</td>
        <td @onclick="GoToDetails">@(Task.EventAlarm is AlarmType.Normalization or AlarmType.ImitationRelease or AlarmType.SuppressionRelease ? "N/A" : "-")</td>
        <td @onclick="GoToDetails">@(Task.EventAlarm is AlarmType.Activation or AlarmType.Imitation or AlarmType.Suppression ? Task.Duration?.TotalHours.ToString("0") ?? "N/A" : "-")</td>
        <td @onclick="GoToDetails">@(GetTaskTab() ?? "N/A")</td>
        <td @onclick="GoToDetails">@Task?.Tag?.TagName</td>
        <td @onclick="GoToDetails">
            <MonitoringTableStatus
                Title="@Task?.Tag?.State.GetDescription()"
                Status="@Task?.Tag?.State"/>
        </td>
        <td @onclick="GoToDetails">@Task?.Tag?.Description</td>
        <td @onclick="GoToDetails">
            <MonitoringTableStatus
                Title="@Task?.Tag?.Priority.GetDescription()"
                Priority="@Task?.Tag?.Priority"/>
        </td>
        <td @onclick="GoToDetails">@(Task?.Tag?.AlarmLimit ?? "-")/@(Task?.Tag?.LastBufferAlarm?.Value ?? "-")</td>
    </tr>

    if (!string.IsNullOrEmpty(Task?.BufferAlarm?.Comment))
    {
        <tr class="task-table-comment">
            <td colspan="12">
                <div>
                    <p>@Task?.BufferAlarm?.Comment</p>
                </div>
            </td>
        </tr>
    }
}


@code
{
    [Inject]
    ITagTaskService TagTaskService { get; set; } = null!;

    [Inject]
    NavigationManager? NavigationManager { get; set; }

    [CascadingParameter]
    public IModalService Modal { get; set; } = default!;

    [Parameter]
    public TagTaskDto? Task { get; set; }

    private string? _taskStatus = "new";
    
    private string? GetTaskTab()
    {
        return Task?.EventAlarm switch
        {
            AlarmType.Activation => AlarmTypeEnum.Active.GetDescription(),
            AlarmType.Imitation => AlarmTypeEnum.Simulation.GetDescription(),
            AlarmType.Suppression => AlarmTypeEnum.Suppressed.GetDescription(),
            AlarmType.Incoming => AlarmTypeEnum.Incoming.GetDescription(),
            _ => "N/A"
        };
    }

    private void GoToDetails()
    {
        NavigationManager?.NavigateTo($"/tasks/{Task?.Id}");
    }

    private async Task ArchiveTask()
    {
        if (Task is {Archived: false })
        {
            var parameters = new ModalParameters { { "TaskNumber", Task.Number.ToString() } };
            var modal = Modal.Show<ArchiveTaskModal>("", parameters);
            var modalResult = await modal.Result;
            if (modalResult.Confirmed)
            {
                var result = await TagTaskService.UpdateTagTask(new UpdateTagTaskCommand { Id = Task!.Id, Archived = true });

                if (result.Success)
                {
                    NavigationManager?.NavigateTo($"/tasks/");
                }
            }
        }
    }
}