@using LocalDbStorage.Interfaces
@using Microsoft.AspNetCore.Components
@using LocalDbStorage.Repositories.Models
@using ActiveAlarmDto = LocalDbStorage.Dto.ActiveAlarmDto


@if(Tag!=null && Tag.TagName!=null)
{
    <tr class="item-table @styleTr" @onclick="ShowMoreattributes" style="cursor:pointer;">        
        <td>@Tag.DateTime.ToString("d") @Tag.DateTime.ToString("t")</td>
  @*      <td>@Tag.EndDate.ToString("d") @Tag.EndDate.ToString("t")</td>*@
        <td>@(Tag.Duration.Value.TotalHours.ToString("N") ?? "N/A")</td>        
        @if (Tag.TagName.EndsWith("LL") || Tag.TagName.EndsWith("HH"))
        {
            <td>@Tag.TagName.Substring(0,Tag.TagName.Length - 2)<span style="color: #EB3333;font-weight:700;">@Tag.TagName.Substring(Tag.TagName.Length-2)</span></td>
        }
        else if (Tag.TagName.EndsWith("L") || Tag.TagName.EndsWith("H"))
        {
            <td>@Tag.TagName.Substring(0,Tag.TagName.Length - 1)<span style="color: #F38B01;font-weight:700;">@Tag.TagName.Substring(Tag.TagName.Length-1)</span></td>
        }
        else
        {
            <td>@Tag.TagName</td>
        } 
    
        <td colspan=4>@(Tag.Description ??= "N/A")</td>
        <td>@Tag.Priority</td>
        <td>@Tag.AlarmLimit / @Tag.Value</td>       
    </tr>             
@if (displayMore || (Tag.Comment!=null && Tag.Comment.Length>0))
{
    <tr>
        <td colspan="11" class="p-0 m-0">
            <input type="text" style="margin:0;padding:5px 10px;width:100%" @bind="Tag.Comment" @bind:event="oninput" @onkeydown="SaveComment">
        </td>                        
    </tr>
}
} 
@code
{
    [Inject] IActiveAlarmService ActiveAlarmService { get; set; } = null!;

    [Parameter] public ActiveAlarmDto? Tag { get; set; }

    bool displayMore = false;
    string styleTr = "";


    protected override void OnInitialized()
    {
        if (Tag!=null)
            if (Tag.Duration!=null && Tag.Duration.Value.TotalHours > 72)
            {
                styleTr = "item-table--alert";

            }
    }

    void ShowMoreattributes()
    {
        displayMore = !displayMore;
    }

    private async Task SaveComment(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            await ActiveAlarmService.UpdateAlarm(Tag, Tag.Id);
        }
    }
}