@page "/"
@inherits AcsPageBase
@using GPNA.AlarmControlSystem.Pages.Main.Components.WorkStationView

<div class="page-main">
    <div class="page-header">
        @if (_previousField != null)
        {
            <ButtonNavigation Title="@_previousField.Name" Href="@("/?fieldId=" + _previousField.Id)"/>
        }
        <div class="d-flex align-items-center">
            <p>ОТЧЕТ ПО СИГНАЛИЗАЦИЯМ ЗА @DateTimeEnd.ToString("dd MMMM") <b>@(_activeField?.Name ?? "N/A") М/Р</b></p>
            <SelectObject Object="dto" LinksDictionary="FieldLinksDictionary"/>
        </div>
        @if (_nextField != null)
        {
            <ButtonNavigation Title="@_nextField.Name" Href="@("/?fieldId=" + _nextField.Id)" Navigation="right"/>
        }
    </div>
    
    @if (_workstations != default)
    {
        foreach (var workstation in _workstations)
        {
            <WorkStationView Workstation="workstation"/>
        }
    }
    
</div>