@page "/"
@using LocalDbStorage.Repositories.Models
@using LocalDbStorage.Interfaces

@using System.Text.Json;
@using GPNA.AlarmControlSystem.Pages.Main.Tables
@using LocalDbStorage.Services

<CascadingValue Name="From" Value="@From">
<CascadingValue Name="To" Value="@To">
@if (InputAlarms == null)
{
    <Loader/>
}
else
{
    <div style="display:flex; justify-content:space-evenly;margin-top:50px;">
    <div style="display:flex;flex-direction:column;align-content:center;">
        <h4>Количество сигнализаций за @DateTime.Now.AddDays(-1).ToString("M")</h4>
        <div style="height:340px;display: flex;justify-content: center; align-items: center; max-width:420px;margin: auto;position:relative;">
            <DoughnutChart Id="donutChart1" Data1="@num1S"/>
            <h3 style="position: absolute;    margin-top: 41px;    font-size: 50px;" title="Среднее число входящих сигнализаций">289</h3>
        </div>
    </div>
    <div style="display:flex;flex-direction:column;align-content:center;">
        <h4>Количество сигнализаций за @DateTime.Now.AddDays(-1).ToString("M") от разных датчиков</h4>
        <div style="height:340px;display: flex;justify-content: center; align-items: center;max-width:420px;margin: auto; position:relative;">
            <DoughnutChart Id="donutChart2" Data1="@num2"/>
            <h3 style="position: absolute;   margin-top: 41px;    font-size: 50px;" title="Среднее число входящих сигнализаций">120</h3>
        </div>
    </div>
</div>

<div style="display:flex;gap:20px;justify-content: space-evenly;">
    <IncomingAlarms/>
    <ActiveAlarms/>
    <SuppressedAlarms/>
    @*<TableIndex Title="Активные сигнализации" IncomingAlarms="InputAlarms"></TableIndex>
    <TableIndex Title="Подавленные сигнализации" IncomingAlarms="InputAlarms"></TableIndex>*@
</div>


    <h4>Активные сигнализации (Просроченные)</h4>
    <ActiveAlarmsOverdue/>
    <h4>Подавленные сигнализации (Просроченные)</h4>
    <SuppressedAlarmsOverdue/>    

}
</CascadingValue>
</CascadingValue>


@code {
    [Parameter] public string? Title { get; set; }

	[Inject] IIncomingAlarmService IncomingAlarmService { get; set; } = null!;
	[Inject] IActiveAlarmService ActiveAlarmService { get; set; } = null!;
	[Inject] ISuppressedAlarmService SuppressedAlarmService { get; set; } = null!;
	[Inject] ITagService TagService { get; set; } = null!;

	[Parameter] public static DateTime From { get; set; } = new DateTime(2021, 12, 13);
    [Parameter] public static DateTime To { get; set; } = new DateTime(2021, 12, 19);

    int[] num1 = new int[4];
    string[] num1S = new string[4];
    string[] num2 = new string[4];

    int Srednee = 0;

    public List<List<IncomingAlarm>>? InputAlarms;

    void SelectPriority()
    {

    }

    protected override void OnParametersSet()
    {

        var rand = new Random();

        for (int i = 0;i<3;i++)
        {            

            //num1S[i]=rand.Next(150).ToString();
            num2[i]=rand.Next(150).ToString();
        }        
        //num1[0] = "15";
        //num1[1] = "10";
        //num1[2] = "5";
        //num1[3] = "1";
        num2[3] = "1";
        StateHasChanged();
    }


    protected override async Task OnInitializedAsync()
    {
	    //var listActive = await ActiveAlarmService.GetAllAlarms();
	    //var alarmActive = listActive.FirstOrDefault(c => c.Id == 1);
	    //alarmActive.Comment = "test2";
	    //await ActiveAlarmService.UpdateAlarm(alarmActive, alarmActive.Id);

	    //var listIncoming = await IncomingAlarmService.GetAllAlarms();
	    //var alarmIncoming = listIncoming.FirstOrDefault(c => c.Id == 16428);
	    //alarmIncoming.Comment = "test2";
	    //await IncomingAlarmService.UpdateAlarm(alarmIncoming, alarmIncoming.Id);

	    //var listSuppressed = await SuppressedAlarmService.GetAllAlarms();
	    //var alarmSuppressed = listSuppressed.FirstOrDefault(c => c.Id == 1);
	    //alarmSuppressed.Comment = "test2";
	    //await SuppressedAlarmService.UpdateAlarm(alarmSuppressed, alarmSuppressed.Id);

	    //var listTag = await TagService.GetAllTags(); // получить все
	    //var tag = listTag.FirstOrDefault(c => c.Id == 1);
	    //tag.Id = 9999;
	    //await TagService.AddTag(tag); // добавить новый
	    //tag.Inform = "test";
	    //await TagService.UpdateTag(tag, tag.Id); // изменить
	    //await TagService.DeleteTag(tag, tag.Id); // удалить

	    var from = new DateTime(2021, 12, 13);
	    var to = new DateTime(2021, 12, 19);
	    var testActive = await ActiveAlarmService.CountOfActiveAlarms(1, from, to);
        




        InputAlarms = null;

        num1[0] = 0;
        num1[1] = 0;
        num1[2] = 0;

        var tags = await IncomingAlarmService.GetAlarmsPerDate(1,To.AddDays(-1),To);

        InputAlarms = tags; 

        if(InputAlarms!=null)
            foreach(var c in InputAlarms)
            {
                if(c[0].Date.Date == To.AddDays(-1).Date && c[0].Priority != PriorityType.Information && c[0].Priority != PriorityType.None)
                {
                    if (c[0].Priority == PriorityType.Low)
                    {
                        num1[2] += 1;
                    }
                    if (c[0].Priority == PriorityType.High)
                    {
                        num1[1] += 1;
                    }
                    if (c[0].Priority == PriorityType.Urgent)
                    {
                        num1[0] += 1;
                    }



                }

            }
        

        num1S[0] = num1[0].ToString();
        num1S[1] = num1[1].ToString();
        num1S[2] = num1[2].ToString();
        if(num1S[0]=="0" && num1S[1]=="0" && num1S[2]=="0")
            num1S[3] = "1";
        else
            num1S[3] = "0";

    }
}