@page "/"
@using GPNA.AlarmControlSystem.Pages.Main.Components.WorkStationView


<div class="page-main">
    <div class="page-header justify-content-center">
        @if (_fields is {Length: > 2 })
        {
            <ButtonNavigation Title="@_fields[2].Name" Href="@("/?fieldId=" + _fields[2].Id)"/>
        }
        <div class="d-flex align-items-center">
            <p>ОТЧЕТ ПО СИГНАЛИЗАЦИЯМ ЗА @DateTimeEnd.ToString("dd MMMM") <b>@(_fields?.FirstOrDefault(f => f.Id == FieldId)?.Name ?? "N/A") М/Р</b></p>
            <SelectObject Object="dto" LinksDictionary="WorkstationLinksDictionary"/>
        </div>
        @if (_fields is {Length: > 1 })
        {
            <ButtonNavigation Title="@_fields[1].Name" Href="@("/?fieldId=" + _fields[1].Id)" Navigation="right"/>
        }
    </div>
    @if (_workstations != default)
    {
        foreach (var workstation in _workstations)
        {
            <WorkStationView Workstation="workstation"/>
        }
    }
</div>