<div class="bg @StatusTags @Width">
    @if (Width != null)
    {
        <div class="container">
            <p class="title">@Title</p>
            <p class="value">@Value</p>
        </div>
        <div class="container">
            <p class="title @NumberLinesTitle">@Title1</p>
            <p class="value">@Value1%</p>
        </div>
        
    } else
    {
        <div class="container">
            <p class="title @NumberLinesTitle">@Title</p>
            <p class="value">@Value</p>
        </div>        
    }      
</div>

@code {
    [Parameter] public string? StatusTags { get; set; }
    [Parameter] public string? Width { get; set; }
    //[Parameter] public string? StatusActive { get; set; }
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? Title1 { get; set; }
    [Parameter] public string? NumberLinesTitle { get; set; }
    [Parameter] public int? Value { get; set; } = 0;
    [Parameter] public int? Value1 { get; set; } = 0;
    //private string? DomClass { get; set; }
    
    //protected override void OnParametersSet()
    //{
    //    DomClass = string.Empty;

    //    if (!string.IsNullOrEmpty(Priority)) DomClass += $" {Priority}";
    //    if (!string.IsNullOrEmpty(Status)) DomClass += $" {Status}";
    //    if (!string.IsNullOrEmpty(StatusActive)) DomClass += $" {StatusActive}";
        
    //    base.OnParametersSet();
    //}

}
