@page "/Arm/{armId:int}"
@using LocalDbStorage.Interfaces
@using LocalDbStorage.Repositories.Models
@inject IRestService RestService 


<div style="display:flex; justify-content:center;">
    <h3>@Title</h3>
    <div class="choice-group">
    <select @bind="@AlarmType">        
        <option value="Входящие">Входящие</option>
        <option value="Активные">Активные</option>
        <option value="Подавленные">Подавленные</option>
    </select>
    <a style="margin-left:20px;">C :</a>
        <input  type="datetime-local" @bind="From" @bind:format="yyyy-MM-ddTHH:mm">
        <a>По :</a>
        <input  type="datetime-local" @bind="To" @bind:format="yyyy-MM-ddTHH:mm">
    
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        @if (AlarmType == "Входящие")
{
  <thead class="thead-light">
            <tr>
                <th>Дата последней сигнализации</th>
                <th>Время последней сигнализации</th>
                <th>Таг</th>
                <th>Описание</th>
                <th>Предел</th>
                <th>Приоритет 
                    <select @bind="@Priority">
                        <option value="0">Все</option>
                        <option value="Критический">Критический</option>
                        <option value="Высокий">Высокий</option>
                        <option value="Низкий">Низкий</option>
                    </select>
                </th>
                <th>Уставка/Значение</th>
                @*<th>Комментарий</th>*@
                <th>Тест</th>
                <th>Количество повторений за смену</th>
            </tr>            
        </thead>
        <tbody>
                @if(InputAlarms == null)
                {
                    <Loader/>
                }
                else
                {
                    @foreach(var c in InputAlarms)
                    {
@*                        @if(c.Priority == Priority || (Priority == "0" && c.Priority!="Информационный"))
                        {
                            <InputAlarm Tag=c/>
                        }*@               
                    }  
                }
                
        </tbody>  
        }

@if (AlarmType == "Активные")
{
  <thead class="thead-light">
            <tr>
                <th>Дата начала сигнализации</th>
                <th>Дата окончания сигнализации</th>
                <th>Длительность (в часах)</th>
                <th>Таг</th>
                <th>Описание</th>
                <th>Приоритет 
                    <select @bind="@Priority">
                        <option value="0">Все</option>
                        <option value="Критичный">Критичный</option>
                        <option value="Высокий">Высокий</option>
                        <option value="Низкий">Низкий</option>
                    </select>
                </th>
                <th>Уставка/Значение</th>
               @* <th>Комментарий</th>
                <th>Предпринятые компенсирующие мероприятия</th>*@                
            </tr>            
        </thead>
        <tbody>
            @*@foreach(var c in Alarms)
            {
                @if(c.Priority == Priority || Priority == "0")
                {
                <ActiveAlarm Tag=c/>
                
                }               
            }  *@
        </tbody>  
}

@if (AlarmType == "Подавленные")
{
  <thead class="thead-light">
            <tr>
                <th>Дата подавления сигнализации</th>
                <th>Длительность (в часах)</th>
                <th>Таг</th>
                <th>Описание</th>
                <th>Приоритет 
                    <select @bind="@Priority">
                        <option value="0">Все</option>
                        <option value="Критический">Критический</option>
                        <option value="Высокий">Высокий</option>
                        <option value="Низкий">Низкий</option>
                    </select>
                </th>
                <th>Уставка/Значение</th>
                @*<th>Комментарий</th>
                <th>Предпринятые компенсирующие мероприятия</th>*@                
            </tr>            
        </thead>
        <tbody>
            @*@foreach(var c in Alarms)
            {
                @if(c.Priority == Priority || Priority == "0")
                {
                <SuppressedAlarm Tag=c/>                
                }               
            }*@  
        </tbody>  
}
        
    </table>
</div>

@code {
    [Parameter] public int ArmId { get; set; }
    [Parameter] public string? Title { get; set; }
    string? AlarmType = "Входящие";
    List<IncomingAlarm>? InputAlarms;
    string? Priority = "0";
    static DateTime From = new();
    static DateTime To = new();

    void SelectPriority()
    {

    }

    protected override void OnParametersSet()
    {
        switch (ArmId)
        {
            case 1:
                Title = "УПНГ";                
                break;
            case 2:
                Title = "БМУПН";
                break;
            case 3:
                Title = "Скважины";
                break;
            case 4:
                Title = "АРМ 4";
                break;

        }
    }

    protected override async Task OnInitializedAsync()    
    {  
        To = DateTime.Now.Date;
        From = To.AddDays(-1);

        var tags = await RestService.GetAllIncomingAlarm();

        InputAlarms = new List<IncomingAlarm>(tags);

        
    }
}