@page "/settings/KPI"
@using GPNA.AlarmControlSystem.Pages.Settings.KPI.Components
@inject IJSRuntime JsRuntime


<div class="page-main">
    <div class="page-header justify-content-center">
        <div class="d-flex align-items-center">
            <p>
                НАСТРОЙКИ KPI <b>@FieldName</b> М/Р
            </p>
            <SelectObject LinksDictionary="FieldLinksDictionary"/>

            <p>
                ЦЕХА <b>@ArmName</b>
            </p>
            <SelectObject LinksDictionary="ArmLinksDictionary"/>
        </div>
    </div>

    <div class="settings-container">
        <div class="bg">
            @if (_journalSettings != default)
            {
                <div class="d-flex align-items-center">
                    <p class="title">ЖУРНАЛ СИГНАЛИЗАЦИЙ</p>
                    <div class="btn-group">
                        <button class="btn p-0 ms-2 d-flex shadow-none" onclick="@(async () => await UpdateJournalSettings())">
                            <img src="img/icons/icon-save.svg" alt="*">
                        </button>
                    </div>
                </div>
                <div class="stats-container">
                    <StatKPI Title="Критичный приоритет" @bind-Value="@(_journalSettings.UrgentPriority)"></StatKPI>

                    <StatKPI Title="Низкий приоритет" @bind-Value="@(_journalSettings.LowPriority)"></StatKPI>
                    <StatKPI Title="Высокий приоритет" @bind-Value="@(_journalSettings.HighPriority)"></StatKPI>
                </div>
            }
        </div>
        <div class="bg">
            @if (_monitoringSettings != default)
            {
                <div class="d-flex align-items-center">
                    <p class="title">МОНИТОРИНГ</p>
                    <div class="btn-group">
                        <button class="btn p-0 ms-2 d-flex shadow-none" onclick="@(async () => await UpdateMonitoringSettings())">
                            <img src="img/icons/icon-save.svg" alt="*">
                        </button>
                    </div>
                </div>
                <div class="stats-container">
                    <StatKPI Title="Входящие сигнализаци. Количество повторений" @bind-Value="_monitoringSettings.RepeatCount"/>
                    <StatKPI Title="Активные сигнализации. Длительность,ч" @bind-Value="_monitoringSettings.ActiveAlarms"/>
                    <StatKPI Title="Имитационные параметры. Длительность,ч" @bind-Value="_monitoringSettings.ImitationParams"/>
                    <StatKPI Title="Подавленные сигнализации. Длительность,ч" @bind-Value="_monitoringSettings.SuppressedAlarms"/>
                </div>
            }
        </div>
        <div class="bg">
            @if (_taskSettings != default)
            {
                <div class="d-flex align-items-center">
                    <p class="title">ЗАДАЧИ</p>
                    <div class="btn-group">
                        <button class="btn p-0 ms-2 d-flex shadow-none" onclick="@(async () => await UpdateTaskSettings())">
                            <img src="img/icons/icon-save.svg" alt="*">
                        </button>
                    </div>
                </div>
                <div class="stats-container">
                    <StatKPI Title="Время ответа на задачу, сутки" @bind-Value="_taskSettings.ResponseDays"></StatKPI>
                    <StatKPI Title="Просроченные" @bind-Value="_taskSettings.Overdue"></StatKPI>
                    <StatKPI Title="Выполненные вовремя" @bind-Value="_taskSettings.CompletedOnTime"></StatKPI>
                </div>
            }
        </div>
        <div class="bg">
            @if (_reportSettings != default)
            {
                <div class="d-flex align-items-center">
                    <p class="title">ОТЧЕТЫ</p>
                    <div class="btn-group">
                        <button class="btn p-0 ms-2 d-flex shadow-none" onclick="@(async () => await UpdateReportSettings())">
                            <img src="img/icons/icon-save.svg" alt="*">
                        </button>
                    </div>
                </div>
                <div class="stats-container">
                    <div class="d-flex justify-content-between">
                        <StatKPI Title="В час" @bind-Value="_reportSettings.InHour"></StatKPI>
                        <StatKPI Title="Сутки" @bind-Value="_reportSettings.Days"></StatKPI>
                    </div>
                    <StatKPI Title="Просроченные активные" @bind-Value="_reportSettings.ActiveOverdue"></StatKPI>
                    <StatKPI Title="Просроченные имитационные" @bind-Value="_reportSettings.ImitationOverdue"></StatKPI>
                    <StatKPI Title="Просроченные подавленные" @bind-Value="_reportSettings.SuppressedOverdue"></StatKPI>
                </div>
            }
        </div>
        <div class="bg">
            @if (_tagTableSettings != default)
            {
                <div class="d-flex align-items-center">
                    <p class="title">ТАБЛИЦА ПЕРЕМЕННЫХ</p>
                    <div class="btn-group">
                        <button class="btn p-0 ms-2 d-flex shadow-none" onclick="@(async () => await UpdateTagTableSettings())">
                            <img src="img/icons/icon-save.svg" alt="*">
                        </button>
                    </div>
                </div>
                <div class="stats-container">
                    <StatKPI Title="Заполненность оценки рисков, %" @bind-Value="_tagTableSettings.RiskAssessment"></StatKPI>
                </div>
            }
        </div>
    </div>
</div>