@page "/settings/kpi"
@inherits AcsPageBase
@using GPNA.AlarmControlSystem.Pages.Settings.KPI.Components
@using GPNA.AlarmControlSystem.Shared.ButtonsModal
@inject IJSRuntime JsRuntime


<div class="page-main">
    <div class="page-header justify-content-center">
        <div class="d-flex align-items-center">
            <p>
                НАСТРОЙКИ KPI 
            </p>
        </div>
    </div>

    <div class="settings-container">
        <div class="bg">
                <p class="title">ЖУРНАЛ СИГНАЛИЗАЦИЙ</p>

            <div class="stats-container">
                <StatKPI Title="Критичный приоритет" @bind-Value="@(_journalSettings.UrgentPriority)" Enabled="_enabledEditJournalSettings"/>
                <StatKPI Title="Низкий приоритет" @bind-Value="@(_journalSettings.LowPriority)" Enabled="_enabledEditJournalSettings" />
                <StatKPI Title="Высокий приоритет" @bind-Value="@(_journalSettings.HighPriority)" Enabled="_enabledEditJournalSettings" />
            </div>
            <div class="settings-buttons-container">
                 @if (_editJournalSettingsButtonShow)
                {
                    <EditButton ClickEvent="EditJournalSettings" />
                }
                else
                {
                    <SaveButton ClickEvent="@(async () => await UpdateJournalSettings())" />
                    <CancelButton ClickEvent="CancelEditJournalSettings" />
                }
            </div>
        </div>
        <div class="bg">
            
            <p class="title">МОНИТОРИНГ</p>
                
            <div class="stats-container">
                <StatKPI Title="Входящие сигнализаци. Количество повторений" @bind-Value="_monitoringSettings.RepeatCount" Enabled="_enabledEditMonitoringSettings" />
                <StatKPI Title="Активные сигнализации. Длительность,ч" @bind-Value="_monitoringSettings.ActiveAlarms" Enabled="_enabledEditMonitoringSettings" />
                <StatKPI Title="Имитационные параметры. Длительность,ч" @bind-Value="_monitoringSettings.ImitationParams" Enabled="_enabledEditMonitoringSettings" />
                <StatKPI Title="Подавленные сигнализации. Длительность,ч" @bind-Value="_monitoringSettings.SuppressedAlarms" Enabled="_enabledEditMonitoringSettings" />
            </div>
            <div class="settings-buttons-container">
                @if (_editMonitoringSettingsButtonShow)
                {
                    <EditButton ClickEvent="EditMonitoringSettings" />
                }
                else
                {
                    <SaveButton ClickEvent="@(async () => await UpdateMonitoringSettings())" />
                    <CancelButton ClickEvent="CancelEditMonitoringSettings" />
                }
            </div>
        </div>
        <div class="bg">
            
            <p class="title">ЗАДАЧИ</p>
                
            <div class="stats-container">
                <StatKPI Title="Время ответа на задачу, сутки" @bind-Value="_taskSettings.ResponseDays" Enabled="_enabledEditTaskSettings" />
                <StatKPI Title="Просроченные" @bind-Value="_taskSettings.Overdue" Enabled="_enabledEditTaskSettings" />
                <StatKPI Title="Выполненные вовремя" @bind-Value="_taskSettings.CompletedOnTime" Enabled="_enabledEditTaskSettings" />
            </div>
            <div class="settings-buttons-container">
                @if (_editTaskSettingsButtonShow)
                {
                    <EditButton ClickEvent="EditTaskSettings" />
                }
                else
                {
                    <SaveButton ClickEvent="@(async () => await UpdateTaskSettings())" />
                    <CancelButton ClickEvent="CancelEditTaskSettings" />
                }
            </div>
        </div>
        <div class="bg">
            
            <p class="title">ОТЧЕТЫ</p>
                
            <div class="stats-container">
                <div class="d-flex justify-content-between">
                    <StatKPI Title="В час" @bind-Value="_reportSettings.InHour" Enabled="_enabledEditReportSettings" />
                    <StatKPI Title="Сутки" @bind-Value="_reportSettings.Days" Enabled="_enabledEditReportSettings" />
                </div>
                <StatKPI Title="Просроченные активные" @bind-Value="_reportSettings.ActiveOverdue" Enabled="_enabledEditReportSettings" />
                <StatKPI Title="Просроченные имитационные" @bind-Value="_reportSettings.ImitationOverdue" Enabled="_enabledEditReportSettings" />
                <StatKPI Title="Просроченные подавленные" @bind-Value="_reportSettings.SuppressedOverdue" Enabled="_enabledEditReportSettings" />
            </div>
            <div class="settings-buttons-container">
                @if (_editReportSettingsButtonShow)
                {
                    <EditButton ClickEvent="EditReportSettings" />
                }
                else
                {
                    <SaveButton ClickEvent="@(async () => await UpdateReportSettings())" />
                    <CancelButton ClickEvent="CancelEditReportSettings" />
                }
            </div>
        </div>
        <div class="bg">
            
            <p class="title">ТАБЛИЦА ПЕРЕМЕННЫХ</p>
                
            <div class="stats-container">
                <StatKPI Title="Заполненность оценки рисков, %" @bind-Value="_tagTableSettings.RiskAssessment" Enabled="_enabledEditTagTableSettings"></StatKPI>
            </div>
            <div class="settings-buttons-container">
                @if (_editTagTableSettingsButtonShow)
                {
                    <EditButton ClickEvent="EditTagTableSettings" />
                }
                else
                {
                    <SaveButton ClickEvent="@(async () => await UpdateTagTableSettings())" />
                    <CancelButton ClickEvent="CancelEditTagTableSettings" />
                }
            </div>
        </div>
    </div>
</div>
