@using LocalDbStorage.Interfaces
@using LocalDbStorage.Repositories.Models
  
<div style="min-width:530px;">
        <h3 style="margin-top:50px;text-align: center;">@Title</h3>
        <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-light">
                <tr>
                    <th colspan=2>@From.ToString("M") - @To.ToString("M")</th>
                    <th>@GetDayString((int)From.DayOfWeek)</th>
                    <th>@GetDayString((int)From.AddDays(1).DayOfWeek)</th>
                    <th>@GetDayString((int)From.AddDays(2).DayOfWeek)</th>              
                    <th>@GetDayString((int)From.AddDays(3).DayOfWeek)</th>
                    <th>@GetDayString((int)From.AddDays(4).DayOfWeek)</th> 
                    <th>@GetDayString((int)From.AddDays(5).DayOfWeek)</th>
                    <th>@GetDayString((int)From.AddDays(6).DayOfWeek)</th> 
                </tr>
            </thead>            
            <tbody>
                <tr>
                    <th colspan=2>УПНГ</th>
                    @if (AlarmsOnDay != null && AlarmsOnDay.Count > 0)
                    {
                        <td>@AlarmsOnDay[0].ToString()</td>
                        <td>@AlarmsOnDay[1].ToString()</td>
                        <td>@AlarmsOnDay[2].ToString()</td>
                        <td>@AlarmsOnDay[3].ToString()</td>
                        <td>@AlarmsOnDay[4].ToString()</td>
                        <td>@AlarmsOnDay[5].ToString()</td>
                        <td>@AlarmsOnDay[6].ToString()</td>
                    }
                    else
                    {
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                    }                  
                </tr>
                <tr>
                    <th colspan=2>БМУПН</th>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <th colspan=2>Скважины</th>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <th colspan=2>Энергетика</th>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>            
             </tbody>
        </table>
    </div>
    </div>

@code {
    [Inject] IIncomingAlarmService IncomingAlarmService { get; set; } = null!;

    [Parameter] public string? Title { get; set; } = "Входящие сигнализации"; 
    [Parameter] public List<List<IncomingAlarm>>? Alarms { get; set; }

    [CascadingParameter(Name = "From")] public DateTime From { get; set; }
    [CascadingParameter(Name = "To")] public DateTime To { get; set; }

    public List<double> AlarmsOnDay = new List<double>(7);




    protected override async Task OnInitializedAsync()    
    {


        //Получить список всех аварий Входящих/Активных/Подавленных за промежуток From - To        
        var incomingAlarms= await IncomingAlarmService.GetAverageAlarmsByDates(1, From, To.AddDays(1));
        int i = 0;
        foreach(var alarm in incomingAlarms)
        {
            if (From.AddDays(i).Date == alarm.Key.Date)
            {
                AlarmsOnDay.Add(alarm.Value);
                i++;
            }
        }
    }

    string GetDayString(int dayofweek)
    {
        switch(dayofweek)
        {      
            case 0: return "Вс";
            case 1: return "Пн"; 
            case 2: return "Вт";  
            case 3: return "Ср";
            case 4: return "Чт";
            case 5: return "Пт";
            case 6: return "Сб";
        }
        return "";
    }
}
