@using LocalDbStorage.Repositories.Models


  
<div style="min-width:530px;">
        <h3 style="margin-top:50px;text-align: center;">@Title</h3>
        <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>@From.ToString("M") - @To.ToString("M")</th>
                    <th>Пн</th>
                    <th>Вт</th>
                    <th>Ср</th>              
                    <th>Чт</th>
                    <th>Пт</th> 
                    <th>Сб</th>
                    <th>Вс</th> 
                </tr>
            </thead>            
            <tbody>
                <tr>
                    <th>УПНГ</th>
                    @*<td>@AlarmsOnDay[0]</td>
                    <td>@AlarmsOnDay[1]</td>
                    <td>@AlarmsOnDay[2]</td>
                    <td>@AlarmsOnDay[3]</td>
                    <td>@AlarmsOnDay[4]</td>
                    <td>@AlarmsOnDay[5]</td>
                    <td>@AlarmsOnDay[6]</td>*@
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <th>БМУПН</th>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <th>Скважины</th>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <th>Энергетика</th>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>            
             </tbody>
        </table>
    </div>
    </div>

@code {


    [Parameter] public string? Title { get; set; }
    [Parameter] public IncomingAlarm[]? IncomingAlarms { get; set; }
    public List<int> AlarmsOnDay = new List<int>(7);

    DateTime From = new();
    DateTime To = new();



    protected override async Task OnInitializedAsync()    
    {
        //From = DateTime.Now.AddDays(-((int) DateTime.Now.DayOfWeek)-6);
        //To = DateTime.Now.AddDays(-((int) DateTime.Now.DayOfWeek));


        //Получить список всех аварий Входящих/Активных/Подавленных за промежуток From - To 
        //IncomingAlarms = await RestService.GetAllIncomingAlarm();

        AlarmsOnDay.Add(0);
        AlarmsOnDay.Add(0);
        AlarmsOnDay.Add(0);
        AlarmsOnDay.Add(0);
        AlarmsOnDay.Add(0);
        AlarmsOnDay.Add(0);
        AlarmsOnDay.Add(0);
        //
        //if(InputAlarms!=null)
        //    foreach(var c in InputAlarms)
        //    {
        //        if(c.Priority!="Информационный" && c.Priority != "N/A")
        //        {
        //            if (c.Date.Date == From.Date)
        //            {
        //                AlarmsOnDay[0] += 1;
        //            }
        //            if (c.Date.Date == From.AddDays(1).Date)
        //            {
        //                AlarmsOnDay[1] += 1;
        //            }
        //            if (c.Date.Date == From.AddDays(2).Date)
        //            {
        //                AlarmsOnDay[2] += 1;
        //            }
        //            if (c.Date.Date == From.AddDays(3).Date)
        //            {
        //                AlarmsOnDay[3] += 1;
        //            }
        //            if (c.Date.Date == From.AddDays(4).Date)
        //            {
        //                AlarmsOnDay[4] += 1;
        //            }
        //            if (c.Date.Date == From.AddDays(5).Date)
        //            {
        //                AlarmsOnDay[5] += 1;
        //            }
        //            if (c.Date.Date == From.AddDays(6).Date)
        //            {
        //                AlarmsOnDay[6] += 1;
        //            }
        //        }
                
        //    }
    }
}
