@using GPNA.AlarmControlSystem.Application.Dto
@using GPNA.AlarmControlSystem.Models.Dto.KpiSettings
@using GPNA.AlarmControlSystem.Models.Enums
@if (VisibleTablePriority)
{
    <table class="bg-table-priority">
        <tbody>
        <tr>
            <td colspan="2">Приоритет</td>
        </tr>
        <tr>
            <td>Низкий</td>
        </tr>
        <tr>
            <td>Высокий</td>
        </tr>
        <tr>
            <td>Критичный</td>
        </tr>
        </tbody>
    </table>
}

<table class="bg-table">
    <caption>@Title</caption>
    <thead>
    <tr class="table-date">
        @foreach (var date in AlarmsCount.Keys)
        {
				<th><p>@date.ToString("dd.MM")</p></th>
        }
    </tr>
    </thead>
    <tbody>
    <tr>
        @foreach (var count in AlarmsCount.Values)
        {
            var value = count?.First(c => c.Priority == PriorityType.Low)?.CountDayPriority ?? 0;
            <td class="@(JournalSettings?.LowPriority < value ? "kpi-warning-low" : "")"><p>@value</p></td>
        }
    </tr>
    <tr>
        @foreach (var count in AlarmsCount.Values)
        {
            var value = count?.First(c => c.Priority == PriorityType.High)?.CountDayPriority ?? 0;
            <td class="@(JournalSettings?.LowPriority < value ? "kpi-warning-high" : "")">@value</td>
        }
    </tr>
    <tr>
        @foreach (var count in AlarmsCount.Values)
        {
            var value = count?.First(c => c.Priority == PriorityType.Urgent)?.CountDayPriority ?? 0;
            <td class="@(JournalSettings?.LowPriority < value ? "kpi-warning-urgent" : "")">@value</td>
        }
    </tr>
    </tbody>
</table>

@code {
    [CascadingParameter] public AlarmJournalSettingsDto? JournalSettings { get; set; }
    
    [Parameter]
    public DateTime DateTime { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public bool VisibleTablePriority { get; set; } = false;

    [Parameter]
    public Dictionary<DateTimeOffset, CountAlarmsOnPriority[]> AlarmsCount { get; set; }
    
    

}