@using GPNA.AlarmControlSystem.Models.Dto
@using GPNA.AlarmControlSystem.Models.Dto.User
@using GPNA.AlarmControlSystem.Domain.Enums
@using GPNA.AlarmControlSystem.Extensions
<tr style="height: 28px;">
    <td class="settings-position-container">
        @if (Enabled)
        { 
            <SettingsDeleteButton LineRemoved="LineRemoved"/>
        }
        <select class="settings-stat-input" type="text" placeholder="Выберите роль" @bind="_user.Access" disabled="@(!Enabled)">
            @foreach (var access in Enum.GetValues<AccessType>())
            {
                <option value="@access">@access.GetDescription()</option>
            }
        </select>
    </td>
    <td>
        <input class="settings-stat-input" type="text" placeholder="Введите ФИО" @bind="_user.Name" disabled="@(!Enabled)" />
    </td>
    <td>
        <input class="settings-stat-input" type="text" placeholder="Введите почту" @bind="_user.Login" disabled="@(!Enabled)" />
    </td>
</tr>

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public bool SettingsEdit { get; set; }

    [Parameter]
    public bool Enabled { get; set; }

    private UserDto _user = new();

    [Parameter]
    public UserDto User
    {
        get => _user;
        set
        {
            if (_user.Equals(value)) return;
            _user = value;
            UserChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<UserDto> UserChanged { get; set; }
    
    [Parameter]
    public EventCallback LineRemoved { get; set; }
}
