@page "/tag-table"

@using GPNA.AlarmControlSystem.Pages.TagTable.TagTable.Components
@using GPNA.AlarmControlSystem.Pages.Monitoring.Components
@using GPNA.AlarmControlSystem.Shared.Pagination

<div class="page-main">
    <div class="page-header justify-content-center position-relative">
        <div class="d-flex">
            <p>ТАБЛИЦА ПЕРЕМЕННЫХ <b>@_fieldName М/Р</b></p>
            <SelectObject Object="dto" LinksDictionary="_fieldLinksDictionary"/>
            <p style="margin-left:15px;">
                <b>@_workstationName</b>
            </p>
            <SelectObject LinksDictionary="_workstationLinksDictionary"/>
        </div>
        <div class="d-flex gap-2 position-absolute" style="right: 0;">
            @if (_query is not {Page: 1})
            {
                <TitleBarButton Title="Фильтрация" FunctionButton="filtration" Action="DropFilters"/>
            }
            <TitleBarButton Title="Экспорт" FunctionButton="export" Action="DownloadFileFromStream"/>
        </div>
    </div>

    <div class="priority-alarm-container">
        <TagStatusOnHead Title="Нет оценки последствий" Title1="KPI" NumberLinesTitle="one-line" WidthLarge="true" Value="@(_tags.InvalidConsequence)" Value1="@((int)_tags.Kpi)"></TagStatusOnHead>
        <TagStatusOnHead Title="Некорректное описание" Value="@(_tags.InvalidDesc)"/>
        <TagStatusOnHead Title="Некорректный приоритет" Value="@(_tags.InvalidPriority)"/>
        <TagStatusOnHead Title="Некорректная уставка" Value="@(_tags.InvalidAlarmLimit)"/>
       @* <TagStatusOnHead Title="Непроверенные" StatusTags="unverified" NumberLinesTitle="one-line" Value="@(_tags.Unchecked)"/>*@
        <TagStatusOnHead Title="Новые поля" StatusTags="new" NumberLinesTitle="one-line" Value="@(_tags.New)"/>
    </div>

    <div class="tag-table-search-container">
        <div class="d-flex gap-2">
			<button class="tag-table-button-add" @onclick="AddTag">
				<p>Новый Таг</p>
				<svg>
					<use href="/img/icons/icons.svg#tag-table-add"></use>
				</svg>
			</button>
			<InputSearch OnChange="SearchTag" MinWidth="364" />
        </div>
        
        <div class="d-flex gap-2">
            <a class="tag-table-button-link" href="@($"/tag-table-archive/?fieldId={FieldId}&workstationId={WorkstationId}")">Архив изменений АСУ ТП</a>
            <a class="tag-table-button-link" href="@($"/tag-table-journal/?fieldId={FieldId}&workstationId={WorkstationId}")">Журнал изменений АСУ ТП</a>
            <button class="tag-table-button-link tag-table-button-send">Отправить в журнал изменений АСУ ТП</button>
        </div>

        

    </div>

    <TagsTable Tags="_tags.Items?.ToList()"
               OnStateFilterChanged="SetStateFilter"
               OnPriorityFilterChanged="SetPriorityFilter"
               OnOrderingChanged="OnOrderingChanged"
               OnTagDeleted="GetTags"/>

    <Pagination CurrentPage="@(_query.Page ?? 1)" PagesCount="_tags.PagesCount" OnPageClick="OnPageChanged"/>
</div>