<div class="stat-container">
    <div class="d-flex flex-column align-items-end gap-1">
        <p>@CurrentValue</p>
        @* <p>@LastValue</p> *@
    </div>
    @* <svg class="@ColorStatus"> *@
    @*     <use href="/img/icons/icons.svg#back-alarm-table-stat-arrow"></use> *@
    @* </svg> *@
    @* <p class="@ColorStatus">@DifferenceValue</p> *@
</div>

@code {
    
    protected string ColorStatus => CurrentValue > LastValue ? "red" : "green";

    [Parameter]
    public int CurrentValue { get; set; }

    [Parameter]
    public int LastValue { get; set; }

    private int DifferenceValue => Math.Abs(CurrentValue - LastValue);
}