@page "/reports"
@using GPNA.AlarmControlSystem.Pages.Reports.Charts
@using GPNA.AlarmControlSystem.Pages.Monitoring.Components
@inject IJSRuntime JSRuntime

<div class="page-header">
    <div class="d-flex date-period-select" style="z-index: 1;">
        <input type="datetime-local" @bind="From" @bind:event="oninput" @onchange="async () => await OnParametersSetAsync()">
        <input type="datetime-local" @bind="To" @bind:event="oninput" @onchange="async () => await OnParametersSetAsync()">
    </div>
    <p class="page-title">
        отчеты @(Options?.Value.DoName ?? "N/A")
        <b style="margin-left: 5px;">@FieldName</b>
        <SelectObject Object="dto" LinksDictionary="FieldLinksDictionary"/>
        <b class="ps-2">@ArmName</b>
        <SelectObject LinksDictionary="ArmLinksDictionary"/>
    </p>

    <div class="d-flex gap-2" style="z-index: 1;">
        <TitleBarButton Title="Экспорт" FunctionButton="export" Action="DownloadFileFromStream"/>
    </div>
</div>
<div class="d-flex justify-content-between overflow-auto" style="padding-bottom: 26px;">
    <div class="priority-alarm-container">
        <PriorityAlarm Title="Общее кол-во сигнализаций" Value="@_generalCount" Priority="total"/>
        <PriorityAlarm Title="Среднее кол-во критичных" Value="@_averageUrgent" Priority="critical"/>
        @if (IncomingAlarms != default && _workstations != null)
        {
            foreach (var workstation in _workstations)
            {
                <PriorityAlarm Title="@workstation.Name" Value="@(IncomingAlarms.TryGetValue(workstation.Name ?? string.Empty, out var alarms) ? alarms.Sum(c => c.Value.Length) : 0)" Priority="total"/>
            }
        }
    </div>
</div>

<div class="position-relative">
    <h4 class="chart-title position-absolute">Количество сигнализаций</h4>
    <div class="chart-container" style="margin-bottom: 30px;">
        @if (IncomingAlarms is {Count: > 0 })
        {
            <Chart1 Kpi="@inputKpi" IncomingAlarms="@IncomingAlarms" DataSetTitle="@ArmName"/>
        }
        else
        {
            <p>Нет данных.</p>
        }
    </div>

    <div class="d-flex gap-4 position-absolute">
        <h4 class="chart-title">Количество сигнализаций на АРМе</h4>
        <p style="margin-left:15px;">
            <b>@ArmName</b>
        </p>
        <SelectObject LinksDictionary="ArmLinksDictionary"/>

    </div>
    <div class="chart-container">
        @if (IncomingAlarms is {Count: > 0 })
        {
            <Chart2 IncomingAlarms="@(IncomingAlarms.TryGetValue(ArmName ?? string.Empty, out var alarms) ? alarms : null)"/>
        }
        else
        {
            <p>Нет данных.</p>
        }
    </div>
</div>