@page "/Arm"
@using GPNA.AlarmControlSystem.Pages.Monitoring.Components
@using GPNA.AlarmControlSystem.Shared.Pagination
@using GPNA.AlarmControlSystem.Models.Enums
@inject IJSRuntime JS

<CascadingValue Name="@nameof(From)" Value="@From">
    <CascadingValue Name="@nameof(To)" Value="@To">
        <CascadingValue Name="@nameof(StateFilter)" Value="@StateFilter">
            <CascadingValue Name="@nameof(PriorityFilter)" Value="@PriorityFilter">

                <div class="page-main">
                    <div class="page-header">
                        <div class="d-flex date-period-select">
                            <div>
                                <input type="datetime-local" @bind="From" @bind:event="oninput">
                                <svg>
                                    <use href="/img/icons/icons.svg#calendar"></use>
                                </svg>
                            </div>
                            <div>
                                <input type="datetime-local" @bind="To" @bind:event="oninput">
                                <svg>
                                    <use href="/img/icons/icons.svg#calendar"></use>
                                </svg>
                            </div>
                            <button class="btn p-0 ms-2 d-flex shadow-none@(_spinnerClass)" id="button-refresh" @onclick="async () => await RefreshBySpinner()">
                                <svg class="w-100 h-100">
                                    <use href="/img/icons/icons.svg#refresh"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="d-flex">
                            <p>МОНИТОРИНГ СИГНАЛИЗАЦИЙ ЗА ПЕРИОД С DP @(Options?.Value.BranchName ?? "N/A") <b>@FieldName</b></p>
                            <SelectObject Object="dto" LinksDictionary="FieldLinksDictionary"/>
                            <p style="margin-left:15px;">
                                <b>@ArmName</b>
                            </p>
                            <SelectObject LinksDictionary="ArmLinksDictionary"/>
                        </div>
                        <div class="d-flex gap-2">
                            @if (FiltersOn)
                            {
                                <TitleBarButton Title="Фильтрация" FunctionButton="filtration" Action="DropFilters"/>
                            }
                            <TitleBarButton Title="Экспорт" FunctionButton="export" Action="DownloadFileFromStream"/>
                        </div>

                    </div>
                    <div class="d-flex justify-content-between overflow-auto">
                        <div class="priority-alarm-container">
                            <PriorityAlarm Title="Всего" Value="AlarmsCollection?.TotalCount" Priority="total"/>
                            <PriorityAlarm Title="Критичный" Value="AlarmsCollection?.CountByPriority?[PriorityType.Urgent]" Priority="critical"/>
                            <PriorityAlarm Title="Высокий" Value="AlarmsCollection?.CountByPriority?[PriorityType.High]" Priority="high"/>
                            <PriorityAlarm Title="Низкий" Value="AlarmsCollection?.CountByPriority?[PriorityType.Low]" Priority="low"/>
                            <PriorityAlarm Title="Без приоритета" Value="AlarmsCollection?.CountByPriority?[PriorityType.None]" Priority="none-priority"/>
                            <div class="ps-5">
                                <PriorityAlarm Title="Инфо" Value="AlarmsCollection?.CountByPriority?[PriorityType.Information]" StatusActive="opacity-50" Priority="info"/>
                            </div>
                        </div>
                        <div class="d-flex align-items-center tagname-filter position-relative mx-5">
                            <input placeholder="Поиск по Tag" type="text" name="tagname" @bind="TagNameFilter" @bind:event="oninput" @onchange="async () => await InitializePageAsync()">
                        </div>
                        <div class="priority-alarm-container">
                            <PriorityAlarm Title="Пожар" StatusActive="@(AlarmsCollection?.Fire ?? false ? "active" : "")" Status="fire"/>
                            <PriorityAlarm Title="Загазованность" StatusActive="@(AlarmsCollection?.Gas ?? false ? "active" : "")" Status="gas"/>
                            <PriorityAlarm Title="HH" Value="AlarmsCollection?.CountByState?[StateType.HH]" Status="hh"/>
                            <PriorityAlarm Title="H" Value="AlarmsCollection?.CountByState?[StateType.H]" Status="h"/>
                            <PriorityAlarm Title="LL" Value="AlarmsCollection?.CountByState?[StateType.LL]" Status="ll"/>
                            <PriorityAlarm Title="L" Value="AlarmsCollection?.CountByState?[StateType.L]" Status="l"/>
                            <PriorityAlarm Title="DISCR" Value="AlarmsCollection?.CountByState?[StateType.Discr]" Status="discr"/>
                            <PriorityAlarm Title="RSHI" Value="AlarmsCollection?.CountByState?[StateType.RSHI]" Status="rshi"/>
                            <PriorityAlarm Title="RSLO" Value="AlarmsCollection?.CountByState?[StateType.RSLO]" Status="rslo"/>
                            <PriorityAlarm Title="NoneState" Value="AlarmsCollection?.CountByState?[StateType.none]" Status="none-state"/>
                        </div>
                    </div>
                    <div style="border-radius: 6px;">
                        <MonitoringTable Alarms="AlarmsCollection?.Items" OnStateFilterChanged="SetStateFilter" OnPriorityFilterChanged="SetPriorityFilter" OnOrderingChanged="OnOrderingChanged"></MonitoringTable>
                        <Pagination CurrentPage="CurrentPage" PagesCount="PagesCount" OnPageClick="OnPageChanged"></Pagination>
                    </div>
                </div>

            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>