@using Data.AlarmControlSystem

    @*<tr class="item-table" @onclick="ShowMoreattributes" style="cursor:pointer;">
        <td>@Tag.Position</td>
        <td>@(Tag.TagName + "_" + Tag.State)</td>
        <td>@Tag.Description</td>
        <td>@Tag.Unit</td>
        <td>@Tag.Priority</td>
        <td>@Math.Round(Convert.ToDecimal(Tag.AlarmLimit),2)</td>
        <td>@Tag.Scale</td>                          
    </tr>*@

    <tr class="item-table">
                    <td>@DateTime.Now.Date.ToString("d")</td>
                    <td>@DateTime.Now.ToString("t")</td>
                    <td>@Tag.Name</td>
                    <td>@Tag.Description</td>
                    <td>@Tag.Priority</td>
                    <td>50 / 55</td>
                    <td><a @onclick="ShowMoreattributes" style="cursor:pointer;">Подробнее..</a></td>
                    <td style="text-align: center;"><input type="checkbox" /></td>
                    <td>1</td>
                </tr>
                        
    @if (displayMore)
    {
    <tr>
        <td colspan="9" class="p-0 m-0">           
                @*<p><b>Потенциальные последствия: </b> @Tag.Consequence</p>
                <p><b>Действия Полевого оператора: </b>@Tag.ActionFieldOperator</p>
                <p><b>Действия Оператора АРМ: </b>@Tag.ActionFieldArm</p>
                <p><b>Уровень усиления: </b>@Tag.Inform</p>
                <p><b>Время на реакцию: </b>@Tag.ReactionTime</p>*@
                <input type="text" style="width:100%;">
        </td>                        
    </tr>
    }
@code
{
    [Parameter] public Alarm? Tag { get; set; }

    bool displayMore = false;

    void ShowMoreattributes()
    {
        displayMore = !displayMore;
    }
}