@using GPNA.ACSAPI.Repositories.Models

    <tr class="item-table" @onclick="ShowMoreattributes" style="cursor:pointer;">
        <td>@Tag.Position</td>
        <td>@TagName</td>
        <td>@Tag.Description</td>
        <td>@Tag.Priority</td>
        <td>@Tag.AlarmLimit</td>
        <td></td> 
    </tr>
                        
    @if (displayMore)
    {
    <tr>
        <td colspan="7" class="p-5 m-5">           
                <p><b>Потенциальные последствия: </b> @Tag.Consequence</p>
                <p><b>Действия Полевого оператора: </b>@Tag.ActionFieldOperator</p>
                <p><b>Действия Оператора АРМ: </b>@Tag.ActionArmOperator</p>
                <p><b>Уровень усиления: </b>@Tag.Inform</p>
                <p><b>Время на реакцию: </b>@Tag.ReactionTime</p>
        </td>                        
    </tr>
    }
@code
{
    [Parameter] public Tag Tag { get; set; }
    string TagName;

    bool displayMore = false;

    protected override void OnInitialized()
    {
        if (Tag.AlarmLimit != null && Tag.AlarmLimit != "")
        {
            TagName = Tag.TagName /*+ "_" + Tag.AlarmLimit*/;
        }        
        else
            TagName = Tag.TagName;
    }

    void ShowMoreattributes()
    {
        displayMore = !displayMore;
    }
}