    @using GPNA.ACSAPI.Repositories.Models

@*<tr class="item-table" @onclick="ShowMoreattributes" style="cursor:pointer;">
        <td>@Tag.Position</td>
        <td>@(Tag.TagName + "_" + Tag.State)</td>
        <td>@Tag.Description</td>
        <td>@Tag.Unit</td>
        <td>@Tag.Priority</td>
        <td>@Math.Round(Convert.ToDecimal(Tag.AlarmLimit),2)</td>
        <td>@Tag.Scale</td>                          
    </tr>*@
    @if(Tag!=null && Tag.TagName!=null)
    {
    <tr class="item-table" @onclick="ShowMoreattributes" style="cursor:pointer;">        
        <td>@Tag.Date.ToString("d")</td>
        <td>@Tag.Date.ToString("t")</td>
            
        @if (Tag.TagName.EndsWith("LL") || Tag.TagName.EndsWith("HH"))
        {
            <td>@Tag.TagName.Substring(0,Tag.TagName.Length - 2)<span style="color: #EB3333;font-weight:700;">@Tag.TagName.Substring(Tag.TagName.Length-2)</span></td>
        }
        else if (Tag.TagName.EndsWith("L") || Tag.TagName.EndsWith("H"))
        {
            <td>@Tag.TagName.Substring(0,Tag.TagName.Length - 1)<span style="color: #F38B01;font-weight:700;">@Tag.TagName.Substring(Tag.TagName.Length-1)</span></td>
        }
        else
        {
            <td>@Tag.TagName</td>
        } 
        
        @if (Tag.Description != null)
        {
            <td>@(Tag.Description ??= "N/A")</td>
        }
        else
        {
            <td>N/A</td>
        }
        @if (Tag.AlarmLimit != null)
        {
            <td>@(Tag.AlarmLimit)</td>
        }
        else
        {
            <td>N/A</td>
        }

        @if (Tag.Priority != null)
        {
            <td>@(Tag.Priority)</td>
        }
        else
        {
            <td>N/A</td>
        }

        @if (Tag.AlarmLimit != null && Tag.Value!=null)
        {
            <td>@(Tag.AlarmLimit+" / "+Tag.Value)</td>
        }
        else if(Tag.AlarmLimit != null)
        {
            <td>@(Tag.AlarmLimit+" / N/A")</td>
        } 
        else if(Tag.Value != null)
        {
            <td>@("N/A / " + Tag.Value)</td>
        }
        else
        {
            <td>N/A / N/A</td>
        }

        @*<td><a >Подробнее..</a></td>*@
        @if (Tag.Test != null)
        {
             <td style="text-align: center;"><input type="checkbox" @bind="@Tag.Test" /></td>
        }
        else 
        {
            <td>N/A</td>
        }       
        <td>@Tag.Count</td>            
    </tr>
    }              
    @if (displayMore)
    {
    <tr>
        <td colspan="9" class="p-0 m-0">           
                @*<p><b>Потенциальные последствия: </b> @Tag.Consequence</p>
                <p><b>Действия Полевого оператора: </b>@Tag.ActionFieldOperator</p>
                <p><b>Действия Оператора АРМ: </b>@Tag.ActionFieldArm</p>
                <p><b>Уровень усиления: </b>@Tag.Inform</p>
                <p><b>Время на реакцию: </b>@Tag.ReactionTime</p>*@
                <input type="text" style="width:100%;">
        </td>                        
    </tr>
    }
@code
{
    [Parameter] public IncomingAlarm? Tag { get; set; }

    bool displayMore = false;

    void ShowMoreattributes()
    {
        displayMore = !displayMore;
    }
}