


    @if(Tag!=null && Tag.TagName!=null)
    {
    <tr class="item-table" @onclick="ShowMoreattributes" style="cursor:pointer;">        
        <td>@Tag.Date.ToString("d")</td>
        <td>@Tag.Date.ToString("t")</td>
                  
            
        @if (Tag.TagName.EndsWith("LL") || Tag.TagName.EndsWith("HH"))
        {
            <td>@Tag.TagName.Substring(0,Tag.TagName.Length - 2)<span style="color: #EB3333;font-weight:700;">@Tag.TagName.Substring(Tag.TagName.Length-2)</span></td>
        }
        else if (Tag.TagName.EndsWith("L") || Tag.TagName.EndsWith("H"))
        {
            <td>@Tag.TagName.Substring(0,Tag.TagName.Length - 1)<span style="color: #F38B01;font-weight:700;">@Tag.TagName.Substring(Tag.TagName.Length-1)</span></td>
        }
        else
        {
            <td>@Tag.TagName</td>
        } 
        
        <td>@(Tag.Description ??= "N/A")</td>
        <td>@Tag.Priority</td>
        <td>@Tag.AlarmLimit / @Tag.Value</td>
        @*<td><a @onclick="ShowMoreattributes" style="cursor:pointer;">Подробнее..</a></td>
        <td><input type="text"/></td>*@           
    </tr>
    }              
    @if (displayMore)
    {
    <tr>
        <td colspan="9" class="p-0 m-0">
                <input type="text" style="width:100%;">
        </td>                        
    </tr>
    }
@code
{
    [Parameter] public SuppressedAlarm? Tag { get; set; }

    bool displayMore = false;

    void ShowMoreattributes()
    {
        displayMore = !displayMore;
    }
}