@using Microsoft.AspNetCore.Components
@using GPNA.AlarmControlSystem.Models.Enums
@using GPNA.AlarmControlSystem.Models.Dto.BufferAlarms
@using GPNA.AlarmControlSystem.Interfaces
@inject IJSRuntime JSRuntime

@if(Tag!=null && Tag.Description!="ПЕРЕСМЕНКА")
{    
    var bgColor = ""; if (IsChildren) { bgColor = "rgba(0, 32, 51, 0.05);"; } 
    
    <tr class="item-table" style="cursor:pointer; background-color: @bgColor;">        
        <td @onclick="ShowMoreAttributes">@Tag.EndDate.ToString("d")</td>
        <td @onclick="ShowMoreAttributes">@Tag.EndDate.ToString("t")</td>

        <td colspan=3 @onclick="ShowMoreAttributes">@(Tag.TagName)
            @{
                var color = Tag.State switch
                {
                    StateType.HH or StateType.LL => "#EB3333",
                    StateType.H or StateType.L => "#F38B01",
                    _ => ""
                    };
            }
            @if (Tag.State != StateType.none)
            { <span >_<b style="color: @color;">@Tag.State</b></span> }
        </td>
        <td colspan=4 @onclick="ShowMoreAttributes"> @(Tag.Description ?? "N/A") </td>
        <td @onclick="ShowMoreAttributes">@Tag.Priority</td>
        <td @onclick="ShowMoreAttributes">@(Tag.AlarmLimit ?? "N/A") / @(Tag.Value ?? "N/A")</td>        
        <td class="item-table__checkbox" @onclick="SendTest"><input class="item-table__checkbox-input" type="checkbox" checked="@(Tag.StatusAlarm==StatusAlarmType.Done)"/></td>
    </tr>
    
    @if (_displayComment || Tag.Comment is {Length: > 0 })
    {
        <tr>
            <td colspan="12" class="p-0 m-0">
                <input type="text" style="margin:0;padding:5px 10px;width:100%" @bind="Tag.Comment" @bind:event="oninput" @onkeydown="SaveComment">
            </td>                        
        </tr>
    }
    

} 
else if (Tag is {Description: "ПЕРЕСМЕНКА" })
{
    <tr class="item-table">        
        <td>@Tag.EndDate.ToString("d")</td>
        <td>@Tag.EndDate.ToString("t")</td>        
        <td colspan=11 style="text-align:center;font-weight:700;letter-spacing:10px;">@Tag.Description</td>              
    </tr>   
}
@code
{
    [Inject] IBufferAlarmService AlarmService { get; set; } = null!;

    [Parameter] public IncomingAlarmDto? Tag { get; set; }
    [Parameter] public bool IsChildren { get; set; }

    bool _displayComment = false;
    bool _displayList = false;

    protected override void OnInitialized()    
    {       
    }

    private async Task SaveComment(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            if (Tag?.Comment != null) 
                await AlarmService.AddComment(Tag.Id, Tag.Comment);
            await JSRuntime.InvokeVoidAsync("saveComment", "snackbar");
        }
    }

    private async Task SendTest()
    {
        if (Tag != null)
        {
            Tag.StatusAlarm = Tag is {StatusAlarm: StatusAlarmType.InWork } ? StatusAlarmType.Done : StatusAlarmType.InWork;
            await AlarmService.ChangeStatus(Tag.Id, Tag.StatusAlarm);
        }
        await JSRuntime.InvokeVoidAsync("saveComment", "snackbar");
    }

    void ShowMoreAttributes()
    {
        _displayComment = !_displayComment;
    }
    
}